<%- include("code/header") %>
<%- include("code/nav") %>
<link rel="stylesheet" href="/stylesheets/about.css">
<div class="about">
    <div class="about-contener">
        <div class="about-contener-left">
            <img src="/images/about-page.png" alt="">
        </div>
        <div class="about-contener-right">
            <p><span>Budget Buddy</span>: Elevate Your Finances, Personalize Your Path. Enjoy a personalized login experience at <span>Budget Buddy</span>, where you can seamlessly add your daily budget and effortlessly track expenses. Our secure platform ensures the utmost data protection and authentication, providing you peace of mind. Take charge of your financial journey with <span>Budget Buddy</span> – your trusted companion in achieving financial goals. <a href="/signup">Sign up</a> now for a smarter, personalized approach to managing your money.</p>
        </div>
    </div>
    <%- include("code/page-footer") %>
</div>
<%- include("code/footer") %>
