<%- include("code/header") %>
<%- include("code/nav") %>
<link rel="stylesheet" href="/stylesheets/addexpenses.css">
<div class="addexpenses">

<form action="/addexpenses" method="post">
    <h2>ADD EXPENSES</h2>
    <select name="catagory" id="catagory" onchange="populate(this.id , 'subcatagory')">
        <option value="">--SELECT CATAGORY--</option>
        <option value="housing">HOUSING</option>
        <option value="bills">BILLS</option>
        <option value="groceries">GROCERIES</option>
        <option value="transportation">TRANSPORTATION</option>
        <option value="healthcare">HEALTHCARE</option>
        <option value="insurance">INSURANCE</option>
        <option value="debtpayments">DEBT PAYMENTS</option>
        <option value="personalcare">PERSONAL CARE</option>
        <option value="entertainment">ENTERTAINMENT</option>
        <option value="clothing">CLOTHING</option>
        <option value="education">EDUCATION</option>
        <option value="savings">SAVINGS</option>
        <option value="giftsdonations">GIFTS & DONATIONS</option>
        <option value="taxes">TAXES</option>
        <option value="miscellaneous">MISCELLANEOUS</option>
    </select><br>
    <select name="subcatagory" id="subcatagory">
        <option value="">--EXPENSES SUBCATAGORY--</option>
    </select><br>
    <input type="text" name="expansesname" placeholder="Enter Expense Name " id=""><br>
    <input type="number" name="expenseamount" placeholder="Enter Expense Amount" id=""><br>
    <button>Submit</button>
</form>

</div>

<script src="/javascripts/addexpenses.js"></script>
<%#- include("code/page-footer") %>
<%- include("code/footer") %>