<%- include("code/header") %>
<%- include("code/nav") %>
<link rel="stylesheet" href="/stylesheets/changepassword.css">
<div class="changepassword">
    <form action="/changepassword/<%= user._id%>" method="post">
        <h2>CHANGE-PASSWORD</h2>
        <input type="password" name="oldpassword" placeholder="Enter Old Password" id=""><br>
        <input type="password" name="newpassword" placeholder="Enter New Password" id=""><br>
        <input type="password" name="cnfpassword" placeholder="Enter Conform Password" id=""><br>
        <button>Change Password</button>
    </form>
</div>

<%- include("code/footer") %>