<%- include("code/header") %>
<link rel="stylesheet" href="/stylesheets/changepassword.css">
<div class="changepassword">
    <%- include("code/nav") %>
    <form action="/changepassword/<%= user._id%>" method="post">
        <h2>CHANGE-PASSWORD</h2>
        <input type="password" class="password1" name="oldpassword" placeholder="Enter Old Password" id="">
        <div class="eye1">
            <i class="ri-eye-off-line"></i>
        </div><br>
        <input type="password" class="password2" name="newpassword" placeholder="Enter New Password" id="">
        <div class="eye2">
            <i class="ri-eye-off-line"></i>
        </div><br>
        <input type="password" class="password3" name="cnfpassword" placeholder="Enter Conform Password" id="">
        <div class="eye3">
            <i class="ri-eye-off-line"></i>
        </div><br>
        <button>Change Password</button>
    </form>
</div>

<script>
    const eye1 = document.querySelector(".eye1")
    const password1 = document.querySelector(".password1")
    eye1.addEventListener("click",function(){
        if(password1.type == "password"){
            password1.type="input"
            eye1.innerHTML=`<i class="ri-eye-line"></i>`
        }else{
            password1.type="password"
            eye1.innerHTML=`<i class="ri-eye-off-line"></i>`
        }
    })

    const eye2 = document.querySelector(".eye2")
    const password2 = document.querySelector(".password2")
    eye2.addEventListener("click",function(){
        if(password2.type == "password"){
            password2.type="input"
            eye2.innerHTML=`<i class="ri-eye-line"></i>`
        }else{
            password2.type="password"
            eye2.innerHTML=`<i class="ri-eye-off-line"></i>`
        }
    })

    const eye3 = document.querySelector(".eye3")
    const password3 = document.querySelector(".password3")
    eye3.addEventListener("click",function(){
        if(password3.type == "password"){
            password3.type="input"
            eye3.innerHTML=`<i class="ri-eye-line"></i>`
        }else{
            password3.type="password"
            eye3.innerHTML=`<i class="ri-eye-off-line"></i>`
        }
    })

</script>

<%- include("code/footer") %>