<%- include("code/header") %>
<link rel="stylesheet" href="/stylesheets/contactus.css">
<div class="contactus">
    <%- include("code/nav") %>
    <div class="contsctus-contener">
        <div class="contsctus-contener-left"></div>
        <div class="contsctus-contener-right">
            <h1>Contact Budget Buddy</h1>
            <p>At Budget Buddy, we're dedicated to providing round-the-clock assistance to meet your financial needs. Feel free to reach out to us anytime, and our team will be more than happy to assist you.</p>
            <h3>24/7 Customer Support:</h3>
            <ul>
                <li>Phone: 7400708090</li>
                <li>Email: support@budgetbuddy.com</li>
            </ul>
            <h6>We value your feedback and inquiries. Our goal is to make your financial journey with Budget Buddy seamless and secure.</h6>
        </div>
    </div>
    <%- include("code/page-footer") %>
</div>
<%- include("code/footer") %>