<%- include("code/header") %>
<link rel="stylesheet" href="/stylesheets/forgetpassword.css">
<div class="forgetpassword">
    <%- include("code/nav") %>
    <form action="/sendotp" method="post">
        <h2>FORGET PASSWORD</h2>
        <input type="email" name="email" placeholder="Enter E-mail" id="">
        <button>Send OTP</button>
    </form>
</div>

<%- include("code/footer") %>