<%- include("code/header") %>
<%- include("code/nav") %>

<link rel="stylesheet" href="/stylesheets/index.css">
<div class="main">
  <div class="page1">
    <div class="page1-heading">
      <h1>All Your Expense on one <span>platform...</span></h1>
    </div>
    <div class="page1-sub-heading">
      <h3>Simple, efficient, User-friendly</h3>
    </div>
    <div class="page1-boxes">
      <div class="box1 box">
        <img src="https://moneylover.me/img/introfeature/1.svg" alt="">
        <h4>100% Secured data</h4>
      </div>
      <div class="box2 box">
        <img src="https://moneylover.me/img/introfeature/2.svg" alt="">
        <h4>1 Million+ users</h4>
      </div>
      <div class="box3 box">
        <img src="https://moneylover.me/img/introfeature/3.svg" alt="">
        <h4>100K+ 5-star Reviews</h4>
      </div>
      <div class="box4 box">
        <img src="https://moneylover.me/img/introfeature/4.svg" alt="">
        <h4>App of the day</h4>
      </div>
    </div>
  </div>
  <div class="page2">
    <div class="page2-left">
      <img src="https://moneylover.me/img/details/Transaction@4x.png" alt="">
    </div>
    <div class="page2-right">
      <h2>Simple money tracker</h2>
      <p>It takes seconds to record daily transactions. Put them into clear and visualized categories such as Expense: Food, Shopping or Income: Salary, Gift.</p>
    </div>
  </div>
  <div class="page3">
    <div class="page3-left">
      <h2>Painless budgeting</h2>
      <p>It takes seconds to record daily transactions. Put them into clear and visualized categories such as Expense: Food, Shopping or Income: Salary, Gift.</p>
    </div>
    <div class="page3-right">
      <img src="https://moneylover.me/img/details/budget@4x.png" alt="">
    </div>
  </div>
  <div class="page4">
    <div class="page4-left">
      <img src="https://moneylover.me/img/details/REPORT@4x.png" alt="">
    </div>
    <div class="page4-right">
      <h2>The whole picture in one place</h2>
      <p>One report to give a clear view on your spending patterns. Understand where your money comes and goes with easy-to-read graphs.</p>
    </div>
  </div>
</div>

<%- include("code/page-footer") %>

<%- include("code/footer") %>