<%- include("code/header") %>
<%- include("code/nav") %>
<link rel="stylesheet" href="/stylesheets/otp.css">
<div class="otp">
    <form action="/enterotp/<%= email%>" method="post">
        <h2>SUBMIT OTP</h2>
        <input type="number" name="otp" placeholder="Enter OTP" id="">
        <button>continue</button>
    </form>
</div>

<%- include("code/footer") %>