<%- include("code/header") %>
<link rel="stylesheet" href="/stylesheets/resetpassword.css">
<div class="otp">
    <%- include("code/nav") %>
    <form action="/resetpassword/<%= user.email%>" method="post">
        <h2>RESET PASSWORD</h2>
        <input type="password" name="newpassword" placeholder="Enter New Password" id="">
        <input type="password" name="cnfpassword" placeholder="Enter Conform Password" id="">
        <button>Save</button>
    </form>
</div>

<%- include("code/footer") %>