<%- include("code/header") %>
<%- include("code/nav") %>
<link rel="stylesheet" href="/stylesheets/services.css">
<div class="services">
    <div class="services-contener">
        <div class="services-contener-left">
            <ol>
                <li>
                    <h3>Secure Data Management:</h3>
                    <p>Ensuring the security and confidentiality of users' financial information through advanced encryption and data protection measures.</p>
                </li>
                <li>
                    <h3>User-Friendly Interface:</h3>
                    <p>Offering an intuitive and easy-to-navigate platform that allows users to manage their budgets and financial data effortlessly.</p>
                </li>
                <li>
                    <h3>Expense Tracking:</h3>
                    <p>Providing robust tools for tracking and categorizing expenses, helping users gain a clear understanding of their spending patterns.</p>
                </li>
                <li>
                    <h3>Multi-Platform Accessibility:</h3>
                    <p>Ensuring that Budget Buddy is accessible across various devices and platforms, providing users with the flexibility to manage their finances anytime, anywhere.</p>
                </li>
                <li>
                    <h3>Customer Support and Education:</h3>
                    <p>Offering customer support services to assist users with any issues or questions and providing educational resources to help them improve their financial literacy.</p>
                </li>
            </ol>
        </div>
        <div class="services-contener-right">
            <h1>SERVICES</h1>
        </div>
    </div>
    <%- include("code/page-footer") %>
</div>

<%- include("code/footer") %>