<%- include("code/header") %>
<%- include("code/nav") %>
<link rel="stylesheet" href="/stylesheets/signup.css">
<div class="signup">
    <form action="/signup" method="post">
        <h2>SIGN-UP</h2>
        <input type="text" placeholder="Enter Username" name="username" id=""><br>
        <input type="email" name="email" placeholder="Enter E-mail" id=""><br>
        <input type="number" name="mobile" placeholder="Enter Mobile No" id=""><br>
        <input type="password" name="password" placeholder="Enter Password" id=""><br>
        <button>Sign Up</button>
        <h4>Already Have Account? <a href="/signin">Sign In</a></h4>
    </form>
</div>

<%- include("code/footer") %>