<%- include("code/header") %>
<%- include("code/nav") %>
<link rel="stylesheet" href="/stylesheets/signin.css">
<div class="login">
    <form action="/signin" method="post">
        <h2>SIGN-IN</h2>
        <input type="text" placeholder="Enter Username" name="username" id=""><br>
        <input type="password" class="password" name="password" placeholder="Enter Password" id="">
        <div class="eye">
            <i class="ri-eye-off-line"></i>
        </div>
        <br>
        <h6><a href="/forgetpassword">Forget Password</a></h6>
        <button>Sign In</button>
        <h4>Don't Have Account? <a href="/signup">Sign Up</a></h4>
    </form>
</div>

<script>
    const eye = document.querySelector(".eye")
    const password = document.querySelector(".password")
    eye.addEventListener("click",function(){
        if(password.type == "password"){
            password.type="input"
            eye.innerHTML=`<i class="ri-eye-line"></i>`
        }else{
            password.type="password"
            eye.innerHTML=`<i class="ri-eye-off-line"></i>`
        }
    })
</script>
<%- include("code/footer") %>