.profile{
    height: 90vh;
    width: 100%;
    /* background-color: pink; */
    background-image: url(https://i.pinimg.com/564x/b2/37/a8/b237a8913f5d21f2801034cb7acf2cc7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1vmax;
    font-family: sans-serif;
}
.nav{
    height: 10vh;
    width: 90%;
    /* background-color: palevioletred; */
    backdrop-filter: blur(5vmax);
    box-shadow: 0 0 0.5vmax rgba(0, 0, 0, 0.789);
    margin: auto;
    border-radius: 0.6vmax;
    margin-bottom: 1vmax;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vmax;
}
.nav >h3 >a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.nav >form >input{
    padding: 0.5vmax 1vmax;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: 0 0 0.2vmax black;
}
.nav >h3 >span{
    font-weight: 500;
}
.nav >a{
    text-decoration: none;
    font-weight: 700;
    padding: 0.5vmax 1vmax;
    background-color: transparent;
    border: 0.2vmax solid black;
    border-radius: 0.6vmax;
    color: black;
}
.allexpenses{
    height: 70vh;
    width: 80%;
    /* background-color: palevioletred; */
    margin: auto;
    overflow-y: auto;
    padding-left: 4.5vmax;
}
.allexpenses::-webkit-scrollbar{
    display: none;
}
.expense{
    position: relative;
    display: inline-block;
    height: 45vh;
    width: 21vw;
    /* background-color: palegreen; */
    margin: 0.8vmax;
    box-shadow: 0 0 0.3vmax rgba(0, 0, 0, 0.718);
}
.srno{
    height: 10vh;
    width: 100%;
    border-bottom: 0.1vmax solid rgba(0, 0, 0, 0.572);
    /* background-color: red; */
    display: flex;
    font-size: 1vmax;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5vmax;
}
.expense >h3{
    text-align: center;
    margin-bottom: 1vmax;
}
.btns{
    height: 8vh;
    width: 90%;
    /* background-color: orangered; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btns >a{
    text-decoration: none;
    /* background-color: black; */
    padding: 0.5vmax 1.3vmax;
    /* color: white; */
    font-family: cursive;
    font-weight: 700;
    border-radius: 0.5vmax;
}
.update{
    transition: all linear 0.2s;
    color: green;
    border: 0.2vmax solid green;
}
.update:hover{
    box-shadow: 0 0 0.8vmax rgba(0, 128, 0, 0.818) ;
}
.delete{
    transition: all linear 0.2s;
    color: red;
    border: 0.2vmax solid red;
}
.delete:hover{
    box-shadow: 0 0 0.8vmax rgba(255, 0, 0, 0.838) ;
}
.expense >h6{
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: -2%;
    /* background-color: red; */
    margin-left: 5vmax;
}
.expense >h6 >input{
    outline: none;
    border: none;
    width: 57%;
    font-size: 0.8vmax;
}
@media (max-width: 600px) {
    .profile{
        height: 83.2vh;
        /* background-color: pink; */
    }
    .nav{
        height: 7vmax;
        width: 95%;
        padding: 0 1vmax;
        gap: 0.7vmax;
    }
    .nav >h3 >a{
        font-size: 1vmax;
    }
    .nav >a{
        padding: 1vmax;
        /* width: 24%; */
        font-size: 0.7vmax;
    }
    .nav >form >input{
        width: 13vmax;
    }
    .nav >h3{
        font-size: 1vmax;
    }
    .allexpenses{
        /* background-color: orange; */
        width: 95%;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        align-items: center;
    }
    .expense{
        width: 90%;
    }
    .btns >a{
        padding: 1vmax 3vmax;
        font-family: sans-serif;
    }
}