.profile{
    height: 90vh;
    width: 100%;
    background-color: pink;
    background-image: url(https://i.pinimg.com/564x/b2/37/a8/b237a8913f5d21f2801034cb7acf2cc7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1vmax;
    font-family: sans-serif;
}
.nav{
    height: 10vh;
    width: 90%;
    /* background-color: palevioletred; */
    backdrop-filter: blur(5vmax);
    box-shadow: 0 0 0.5vmax rgba(0, 0, 0, 0.789);
    margin: auto;
    border-radius: 0.6vmax;
    margin-bottom: 1vmax;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vmax;
}
.nav >h3 >a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.nav >form >input{
    padding: 0.5vmax 1vmax;
    width: 100%;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 0.2vmax black;
}
.nav >h3 >span{
    font-weight: 500;
}
.nav >button >a{
    text-decoration: none;
    font-weight: 700;
}
.nav >button{
    padding: 0.5vmax 1vmax;
    background-color: transparent;
    border: 0.2vmax solid black;
    border-radius: 0.6vmax;
}
.allexpenses{
    height: 70vh;
    width: 80%;
    background-color: palevioletred;
    margin: auto;
    overflow-y: auto;
    padding-left: 4.5vmax;
}
.allexpenses::-webkit-scrollbar{
    display: none;
}
.expense{
    display: inline-block;
    height: 45vh;
    width: 21vw;
    background-color: palegreen;
    margin: 0.8vmax;
}
.srno{
    height: 10vh;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5vmax;
}
.expense >h3{
    text-align: center;
    margin-bottom: 1vmax;
}
.btns{
    height: 8vh;
    width: 90%;
    background-color: orangered;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btns >a{
    text-decoration: none;
    background-color: black;
    padding: 0.5vmax 1.3vmax;
    color: white;
    font-family: cursive;
    font-weight: 700;
    border-radius: 0.5vmax;
}