.login{
    height: 90vh;
    width: 100%;
    /* background-color: rgb(144, 99, 99); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-image: url(https://i.pinimg.com/564x/d9/42/9d/d9429d57770996eda955468546a95d62.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login >form{
    /* background-color: pink; */
    height: 50vh;
    width: 22%;
    border-radius: 0.7vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vmax;
    backdrop-filter: blur(0.2vmax);
    box-shadow: 0 0 0.5vmax rgba(0, 0, 0, 0.732);
}
.login >form >h2{
    margin-top: -2vmax;
    margin-bottom: 2vmax;
    font-size: 2vmax;
    
}
.login >form >input{
    width: 100%;
    padding: 0.5vmax;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 0.3vmax black;
    margin-bottom: 0.2vmax;
    border-radius: 0.3vmax;
}
.login >form >input::placeholder{
    color: black;
}
.login >form >h6{
    position: relative;
    top: -6%;
    left: -30%;
    margin: 0.5vmax 0;
    /* background-color: red; */
}
.login >form >h6 >a{
    text-decoration: none; 
}
.login >form >h4{
    margin-top: 2vmax;
    margin-bottom: -2vmax;
    color: rgba(28, 28, 28, 0.84);
}
.login >form >h4 >a{
    text-decoration: none;
}
.login >form >button{
    padding: 0.5vmax;
    width: 100%;
    font-size: 1.2vmax;
    font-weight: 700;
    background-color: transparent;
    border: none;
    box-shadow: 0.2vmax 0.2vmax 0.5vmax rgba(0, 0, 0, 0.813) ;
    border-radius: 0.3vmax;
}
@media (max-width: 600px) {
    .login{
        height: 89%;
    }
    .login >form{
        height: 35vh;
        width: 80%;
    }
    .login >form >h2{
        font-size: 2.5vmax;
        transform: translateY(-3vmax);
    }
    .login >form >button{
        font-size: 2vmax;
        padding: 0.9vmax 0;
        margin-bottom: 1vmax;
    }
}