<link rel="stylesheet" href="/stylesheets/nav.css">

<nav>
    <h2><a href="/">Budget Buddy</a></h2>
    <div class="menu">
        <i class="ri-menu-4-line"></i>
    </div>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contactus">Contact Us</a></li>
    </ul>
    <button><a href="/signin">SIGN IN</a></button>
</nav>
<div class="nav-filler"></div>
<div class="res-nav">
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contactus">Contact Us</a></li>
    </ul>
    <button><a href="/signin">SIGN IN</a></button>

</div>

<script>
    var flag = 0
document.querySelector(".menu").addEventListener("click" , function(){
    if(flag == 0 ){
        document.querySelector(".menu").innerHTML = `<i class="ri-close-fill"></i>`
        document.querySelector(".res-nav").style.top = "0"
        flag=1
    }else{
        document.querySelector(".menu").innerHTML = `<i class="ri-menu-4-line"></i>`
        document.querySelector(".res-nav").style.top = "-50%"
        flag=0
    }
})

</script>