<link rel="stylesheet" href="/stylesheets/page-footer.css">
<div class="footer">
    <h3>© 2023 Budget Buddy Co., Ltd. All rights reserved.</h3>
    <ul>
        <li>About us</li>
        <li>Career</li>
        <li>Blog</li>
        <li>Privacy Policy</li>
    </ul>
    <ul>
        <li><i class="ri-facebook-line"></i></li>
        <li><i class="ri-instagram-line"></i></li>
        <li><i class="ri-twitter-line"></i></li>
    </ul>
</div>